.article {
  font-family: 'Open Sans', sans-serif;
  padding: 15px 20px;

  &-avatar {
    display: inline-block;
    border-radius: 50%;
    width: 64px;
  }

  &-data {
    padding-top: 5px;

    .article-author {
      display: block;
      color: $accent;
      padding-left: 10px;
      margin-bottom: -5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }

    .article-date {
      color: $gray;
      font-size: .8rem;

      .icon {
        padding-left: 5px;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }

  &-img {
    text-align: center;

    img {
      max-height: 200px;
    }
  }

  &-content {
    color: $dark-font;

    &-intro {
      color: $black;
    }

    &-subtitle {
      font-weight: bold;
    }
  }

  &-title {
    font-weight: bold;
    color: $dark-font;
    clear: left;
    padding: 10px 0;
  }

  &-comments {
    margin-top: 25px;
    border-top: 5px solid $black;
  }

  &-likes {
    .icon {
      font-size: 1.5rem;
      vertical-align: middle;
      color: $accent;
      cursor: pointer;
    }
  }
}

@include on-medium-screen {
  .article {
    &-data {
      .article-author {
        display: inline-block;
        vertical-align: sub;
        max-width: 70%;
      }

      .article-date {
        float: right;
        vertical-align: sub;
      }
    }
  }
}

@include on-large-screen {
  .article {
    &-data .article-date {
      font-size: initial;
    }

    &-comments {
      #frmComment {
        width: 75%;
      }
    }
  }
}
