@font-face {
	font-family: 'Qwigley';
	src: url('../fonts/Qwigley-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif!important;
  overflow-x: hidden;
}