// header
$small-bar: 60px;
$large-bar: 80px;

// menu
$navbar-small: 240px;
$navbar-medium: 320px;

// colors
$white: #FFFFFF;
$smoke: #F5F5F5;
$gray: #8f8f8f;
$black: #1E1E1E;
$accent: #2199E8;
$sucess: #3ADB76;
$warning: #FFAE00;
$alert: #EC5840;
$dark-font: #333333;

// icon-font
$icomoon-font-path: "../fonts" !default;

$icon-comment: "\e900";
$icon-clock: "\e902";
$icon-like: "\e901";
$icon-search: "\e903";
$icon-menu: "\e904";
